#password-generator {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#password-generator td, #password-generator th {
  border: 1px solid #ddd;
  padding: 8px;
}

#password-generator tr:nth-child(even){background-color: #f2f2f2;}

#password-generator tr:hover {background-color: #ddd;}

#password-generator th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #white;
  color: black;
  border: 1px solid green;
}

.fa {
  padding: 3px;
}

/* Modal */
a {
  color: inherit;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-window header {
  font-weight: bold;
}

.modal-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-close:hover {
  color: #000;
}

.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}

/* Modal 2 */

.modal-edit-app-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.15);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-edit-app-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-edit-app-window>div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 2rem;
  background: #fff;
  color: #444;
}

.modal-edit-app-window header {
  font-weight: bold;
}

.modal-edit-app-close {
  color: #aaa;
  line-height: 50px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}

.modal-edit-app-close:hover {
  color: #000;
}

.modal-edit-app-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}