#password-generator {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#password-generator td, #password-generator th {
  border: 1px solid #ddd;
  padding: 8px;
}

#password-generator tr:nth-child(even){background-color: #f2f2f2;}

#password-generator tr:hover {background-color: #ddd;}

#password-generator th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #white;
  color: black;
  border: 1px solid green;
}

.fa {
  padding: 3px;
}